{% extends 'index.html' %}
{% load static%}
{% load crispy_forms_tags %}

    {% block titulo %}
        Crear Usuario
    {% endblock titulo %}

    {%block imagen_principal %}
    <header class="masthead" style="background-image: url('/static/img/categorias.jpg')";>
    {%endblock imagen_principal %}
    {% block titulo_principal %}
        <h1>Registro de Usuario</h1>
    {% endblock titulo_principal %}

    {%block barra_busqueda%}
    {%endblock barra_busqueda%}

    {%block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                    <div class='content-section'>
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                {{ formulario|crispy }}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit">Registrarse</button>
                            </div>
                        </form>
                        <div class="border-top pt-3">
                            <small class="text-muted">
                                Ya tiene una cuenta? <a class="ml-2" href="{% url 'blog:acceder' %}">Inicie Sesion</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endblock contenido%}

    



